<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"/>
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}style.css" />
  <meta name="description" content="{{site.description}}"/>
  <meta name="author" content="{{site.author}}"/>
  <link rel="author" href="humans.txt"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}feed.xml" />
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}public/resources/fontello/css/fontello.css">
  <link rel="stylesheet" href="{{site.baseurl}}public/resources/fontello/css/animation.css">
</head>

<body>
  <div id="header">
    <h1>Welcome to {{ site.name }}</h1>
    <h4>{{ site.description }}</h4>
    <hr />
  </div>
  <div id="sidebar">
    <ul>
      <li><i class="icon-home"></i> <a href="{{site.baseurl}}">Home</a></li>
      <li><i class="icon-mail"></i> <a href="{{site.baseurl}}contact.html">Contact</a></li>
      <li><i class="icon-rss"></i> <a href="{{site.baseurl}}feed.xml">RSS Feed</a></li>
      <li><i class="icon-link"></i> <a href="{{site.baseurl}}archive.html">Archive</a></li>
    </ul>
    <h3>Links</h3>
    <ul>
      <li><i class="icon-home"></i><a href="http://zeroed.github.io">Github Pages</a></li>
      <li><i class="icon-github"></i><a href="https://gist.github.com/zeroed">Github Gist</a></li>
      <li><i class="icon-github"></i><a href="https://github.com/zeroed">Github</a></li>
    </ul>
   </div>
 </div>
 <div id="content">
  {{ content }}
  </div>
  <div id="footer">
    <hr />
    <p>&copy; 2014 {{ site.author }}</p>
  </div>
</body>
</html>
